<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<section class="content">
		<div class="container">
			<div class="wrp">
				<p>What would you like to do ?</p>
				<div class="dropdown-wrp">
					<select class="dropdown">
						<option value="1">Track now</option>
						<option value="1">Track every 1 day</option>
						<option value="2">Track every 2 days</option>
						<option value="3">Track every 3 days</option>
						<option value="4">Track every 4 days</option>
					</select>
					<button id="btn">Submit</button>
				</div> 
				<!-- dropdown-wrp -->
			</div>
			<!-- wrp -->
		</div>
		<!-- container -->
	</section>
</body>
</html>